<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recetas Deliciosas</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Bienvenidos a las Pruebas</h1>
    <h2>De Github</h2>
    <p>Hola Mundo</p>
</body>
</html>
